<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Excel To HTML using codebeautify.org</title>
		</head>
		<body>
			<html>
				<head></head>
				<body>
					<hr/>
					<table cellspacing="0" border="1">
						<tbody>
							<tr>
								<td style="min-width:50px">Customer Subscription</td>
								<td style="min-width:50px"></td>
								
							</tr>
							<tr>
								<td style="min-width:50px">Case Part Number</td>
								<td style="min-width:50px">Description</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776802</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 3 MO</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776804</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 1 YR</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776805</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 2 YR</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776806</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 3 YR</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776807</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 4 YR</td>
								
							</tr>
							<tr>
								<td style="min-width:50px">91776808</td>
								<td style="min-width:50px">SUBSCRIPTION, ADV CM1X CE 5 YR</td>
								
							</tr>
						</tbody>
					</table>
					<hr/>
				</body>
			</html>
		</body>
	</html>