<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Excel To HTML using codebeautify.org</title>
		</head>
		<body>
			<html>
				<head></head>
				<body>

					<hr/>
					<table cellspacing="0" border="1">
						<tbody>
							<tr>
								
								<td style="min-width:50px">Modem Type</td>
								<td style="min-width:50px">Modem</td>
								<td style="min-width:50px">Segment</td>
								<td style="min-width:50px">Modem Variant</td>
								<td style="min-width:50px">CNH PN</td>
								<td style="min-width:50px">Tierra PN</td>
								<td style="min-width:50px">Geographical Area</td>
							</tr>
							<tr>
								
								<td style="min-width:50px">Internal Antenna</td>
								<td style="min-width:50px">CM100</td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">NA</td>
								<td style="min-width:50px">91732842</td>
								<td style="min-width:50px">1053516-01</td>
								<td style="min-width:50px">North America</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">VZ</td>
								<td style="min-width:50px">91732843</td>
								<td style="min-width:50px">1053517-01</td>
								<td style="min-width:50px">North America - Verizon – more coverage (to be offered only as service part)</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">LA</td>
								<td style="min-width:50px">91732845</td>
								<td style="min-width:50px">1053518-01</td>
								<td style="min-width:50px">South America + Australia</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">EA</td>
								<td style="min-width:50px">91732846</td>
								<td style="min-width:50px">1053519-01</td>
								<td style="min-width:50px">EU + ASEAN</td>
							</tr>
							<tr>
								
								<td style="min-width:50px">External Antenna</td>
								<td style="min-width:50px">CM110</td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">NA</td>
								<td style="min-width:50px">91732855</td>
								<td style="min-width:50px">1053512-01</td>
								<td style="min-width:50px">North America</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">VZ</td>
								<td style="min-width:50px">91732856</td>
								<td style="min-width:50px">1053513-01</td>
								<td style="min-width:50px">North America - Verizon – more coverage (to be offered only as service part)</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">LA</td>
								<td style="min-width:50px">91732857</td>
								<td style="min-width:50px">1053514-01</td>
								<td style="min-width:50px">South America + Australia</td>
							</tr>
							<tr>
								
								<td style="min-width:50px"></td>
								<td style="min-width:50px"></td>
								<td style="min-width:50px">CE</td>
								<td style="min-width:50px">EA</td>
								<td style="min-width:50px">91732859</td>
								<td style="min-width:50px">1053515-01</td>
								<td style="min-width:50px">EU + ASEAN </td>
							</tr>
						</tbody>
					</table>
					<hr/>
				</body>
			</html>
		</body>
	</html>