<div class="videos">

<h1><b><font color="#c3231e"> Power of Telematics </font></b></h1> 
<img src='../../../assets/images/Video.jpg'style='width: 5%' onclick="../../../assets/pdf/01 Power of Telematics.mp4">

  
<button class="button-86" role="button" (click)='openVideo1()'>
Video on Power of Telematics &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
</button>

       <h1><b><font color="#c3231e">SiteWatch - Interface for Customers </font></b></h1>
     <button class="button-86" role="button" (click)='openVideo2()'>
        Video on SiteWatch &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
     <br>
    <h1><b><font color="#c3231e"> SiteConnect - Interface for Dealers </font></b></h1>
     <button class="button-86" role="button" (click)='openVideo3()'>
        Video on SiteWatch &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
     <br>
     <h1><b><font color="#c3231e"> Customer Testimonials </font></b></h1>
     <button class="button-86" role="button" (click)='openVideo4()'>
        Video on Customer Testimonials &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
     <!-- <button class="button-86" role="button" (click)='openPDF2()'>
        SiteWatch-AMS &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
        <br>
    <h1><b>Video on SiteConnect</b></h1>
    <button class="button-86" role="button" (click)='openPDF5()'>
        SiteWatch-Sales &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button> -->
   
</div>