<div class="videos">

    <div class="videos-title">
        <h2>
            Power of Telematics
        </h2>
        <img src='../../../assets/images/Video.jpg' (click)="openVideo1()">
    </div>
    <br>
    <div class="videos-title">
        <h2>
            SiteWatch - Interface for Customers
        </h2>
        <img src='../../../assets/images/Video.jpg' (click)="openVideo2()">
        <br>
    </div>
    <br>
    <div class="videos-title">
        <h2>SiteConnect - Interface for Dealers</h2>
        <img src='../../../assets/images/Video.jpg' (click)="openVideo3()">
        <br>
    </div>
    <br>
    <div class="videos-title">
        <h2>
            Customer Testimonials
        </h2>
        <img src='../../../assets/images/Video.jpg' (click)="openVideo4()">
    </div>
</div>