<div class="videos">

    <div class="videos-title">
        <h2>
            Power of Telematics
        </h2>
        <img src='../../../assets/images/Video.jpg' (click)="openVideo1()">
    </div>
    <br>
    <div class="videos-title">
        <h2>
            SiteWatch - Interface for Customers
        </h2>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-1</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo2a()">
                </div>
            </td>
        </tr>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-1</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo2b()">
                </div>
            </td>
        </tr>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-3</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo2c()">
                </div>
            </td>
        </tr>
         
    </div>
    <br>
    <div class="videos-title">
        <h2>SiteConnect - Interface for Dealers</h2>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-1</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo3a()">
                </div>
            </td>
        </tr>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-2</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo3b()">
                </div>
            </td>
        </tr>
        </div>
    <br>
    <div class="videos-title">
        <h2>
            Customer Testimonials
        </h2>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-1</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo4a()">
                </div>
            </td>
        </tr>
        <tr>
            <td style="min-width:50px">
                <div class="flex-column">
                    <h4>Video-2</h4>
                    <img src='../../../assets/images/Video.jpg' (click)="openVideo4b()">
                </div>
            </td>
        </tr>

       
    </div>
</div>