<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Excel To HTML using codebeautify.org</title>
</head>

<body>
	<html>

	<head></head>

	<body>

		<hr />
		<table cellspacing="0" border="1">
			<tbody>
					<tr style="background-color:'#c3231e'; color: white; text-align: center;">
						<th colspan="2" style="min-width:100px; background-color:'#c3231e'; color: white"> Universal DIA Kits </th>
				</tr>
				<tr style="background-color:'#c3231e'; color: white; text-align: center;">
					<td style="min-width:50px">Case Part Number</td>
					<td style="min-width:50px">Description</td>
				</tr>
				
				<tr>
					<td style="min-width:50px">91796705</td>
					<td style="min-width:50px">Suitable for CAN machine</td>

				</tr>
				<tr>
					<td style="min-width:50px">92030382</td>
					<td style="min-width:50px">Suitable for non-CAN Machine</td>

				</tr>
			</tbody>
		</table>
		<hr />
	</body>

	</html>
</body>

</html>