<div class="training-material">
    <!-- <a download="TrainingMaterial" target="_blank" href="../../../assets/pdf/InstallationManual.pdf">
        <button class="button-86" role="button">
            Download Training Material &nbsp; <mat-icon class="mat-icon">cloud_download</mat-icon>
        </button>
    </a>

    <br> -->
<h1><b>  <font color="#c3231e" >Introduction to Telematics </font></b></h1>

    <button class="button-86" role="button" (click)='openPDF1()'>
        Introduction to Telematics &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
     <br>
     <h1><b><font color="#c3231e" >Trainings for AMS Team</font></b></h1>
     <button class="button-86" role="button" (click)='openPDF2()'>
        SiteWatch-AMS &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>

    <button class="button-86" role="button" (click)='openPDF3()'>
        SiteConnect-AMS &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
 
    <button class="button-86" role="button" (click)='openPDF4()'>
        TSP-AMS &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
    <br>
    <h1><b><font color="#c3231e" >Trainings for Sales Team</font></b></h1>
    <button class="button-86" role="button" (click)='openPDF5()'>
        SiteWatch-Sales &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
  
    <button class="button-86" role="button" (click)='openPDF6()'>
        SiteConnect-Sales &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>

    <button class="button-86" role="button" (click)='openPDF7()'>
        TSP-Sales &nbsp; <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
</div>