<div class="container">
    <div class="overlay">
        <img src="../../../assets/images/case.jpeg" style="width:100%;">
        </div>
    <div class="bottom-left">
        <span> CNH Industrial Construction <br> Equipment Telematics </span>
        <br>
        <span class="name"> June 23, 2018 | Tavinder Arora </span>
    </div>
</div>

<br><br>

<h2> 
    Telematics from CNH Industrial
</h2>
<b> <i> 
    Welcome to the World of Telematics from CNH Industrial for Construction Equipment Machines!
</i></b>

<div class="container-logo">
    <img src="../../../assets/images/case-telematics-2.jpeg">
</div>
