<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>Excel To HTML using codebeautify.org</title>
		</head>
		<body>
			<html>
				<head></head>
				<body>
					
					<hr/>
					<table cellspacing="0" border="1">
						<tbody>
							<tr>
								<td style="min-width:50px" colspan="2" style="background-color:'#c3231e'; color: white; text-align: center; font-weight: bold;">Internet Subscription</td>
							</tr>
							<tr style="background-color:'#c3231e'; color: white; text-align: center;">
								<td style="min-width:50px">Case Part Number</td>
								<td style="min-width:50px">Description</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856779</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 3M</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856787</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 1Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856885</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 2Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856902</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 3Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856903</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 4Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856904</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 5Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91900833</td>
								<td style="min-width:50px">SUBSCRIPTION, CE SIM, CM100/110, 7Y</td>

							</tr>
							<tr>
								<td style="min-width:50px">91856910</td>
								<td style="min-width:50px">SUBSCRIPTION CE, SIM, CM100/110, 10Y</td>

							</tr>
						</tbody>
					</table>
					<hr/>
				</body>
			</html>
		</body>
	</html>