<div class="body">

<h1 class="site-title"> CNH INDUSTRIAL CE TELEMATICS </h1>
<h2 class="site-title" style="margin-top: -15px;"> Welcome to the World of Telematics from CNH Industrial for Construction Equipment Machines! </h2>

<div class="tab">
  <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->


  <!-- <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">Menu</button> -->
  
  <!-- <button class="tablinks" routerLink="/tab1" style> -->
    <div class="tablinks tab1">
      <img  routerLink="/tab1" src="../../../assets/images/Home.jpg" style="height: 12vh;" >
    </div>
  <!-- </button> -->
  
<div class=" tab2">

  <!-- <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">Menu</button> -->
  

  <button class="tablinks" routerLink="/tab2"><h1>FAQs</h1></button>
  <button class="tablinks" routerLink="/tab3"><h1> Post New Query</h1></button>
  <button class="tablinks" routerLink="/tab4"><h1> CM1X Modem Details</h1></button>
</div></div>



<router-outlet></router-outlet>
</div>