<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
        placeholder="Enter text to search" autofocus>
    </div>
    <ul class="list-group list-group-flush">
      <div *ngFor="let c of data | appFilter: searchText" style="display: flex; flex-direction: row;">
        <li class="list-group-item" appHighlight
        [searchedWord]="searchText" [content]="c.query" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
        {{c.query}}
    </li>
    <li class="list-group-item" appHighlight
        [searchedWord]="searchText" [content]="c.answer" [classToApply]="'font-weight-bold'" [setTitle]="'true'">
        {{c.answer}}
    </li>
      </div>
      
    </ul>
    
  </div>
</div>