<div class="body">

<h2 class="site-title"> CNH INDUSTRIAL CE TELEMATICS </h2>
<h2 class="site-title" style="margin-top: -15px;"> Welcome to the World of Telematics from CNH Industrial for Construction Equipment Machines! </h2>

<div class="tab">
    <div class="tablinks tab1">
      <img  routerLink="/home" src="../../../assets/images/Home.jpg" style="height: 12vh;" >
    </div>  
<div class=" tab2">  
  <button class="tablinks" routerLink="/faq"><h2>FAQs</h2></button>
  <button class="tablinks" routerLink="/contact"><h2> Post New Query</h2></button>
  <button class="tablinks" routerLink="/modemdetails"><h2> CM1X Modem Details</h2></button>
  <button class="tablinks" routerLink="/installationmanual"><h2> Installation Manual</h2></button>
  <button class="tablinks" routerLink="/trainingmaterial"><h2> Training Material</h2></button>
  <button class="tablinks" routerLink="/videos"><h2> Videos</h2></button>
</div>

</div>

<router-outlet></router-outlet>
</div>