

<div class="tab modem-details">
  <div>
  <BR>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/tab4/submodule1"><h2>1. CM1X Part Numbers</h2></div>
    <div   style="cursor: pointer;" class="tablinks" routerLink="/tab4/submodule2"><h2>2. Internet Subscription Part Numbers</h2></div>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/tab4/submodule3"><h2>3. Customer Subscription Part Numbers</h2></div>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/tab4/submodule4"><h2>4. Universal DIA Kit Part Numbers</h2></div>
  </div>
  <router-outlet></router-outlet>
</div>