

<div class="tab modem-details">
  <div>
  <BR>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/modemdetails/submodule1"><h2> <font color="#c3231e" > 1. Modem (CM1X) Part Numbers </font></h2></div>
    <div   style="cursor: pointer;" class="tablinks" routerLink="/modemdetails/submodule2"><h2> <font color="#c3231e" >2. Internet Connection Part Numbers </font></h2></div>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/modemdetails/submodule3"><h2><font color="#c3231e" > 3. Customer Subscription (SiteWatch) Part Numbers </font></h2></div>
    <div  style="cursor: pointer;" class="tablinks" routerLink="/modemdetails/submodule4"><h2><font color="#c3231e" >4. Universal DIA Kit Part Numbers </font></h2></div>
  </div>
  <router-outlet></router-outlet>
</div>