

<div class="tab">
  <BR>
    <button class="tablinks" routerLink="/tab4/submodule1"><h1>1. CM1X Part Numbers</h1></button> <br>
    <BR>
    <button class="tablinks" routerLink="/tab4/submodule2"><h1>2. Internet Subscription Part Numbers</h1></button> <br>
    <BR>
    <button class="tablinks" routerLink="/tab4/submodule3"><h1>3. Customer Subscription Part Numbers</h1></button> <br>
    <BR>
    <button class="tablinks" routerLink="/tab4/submodule4"><h1>4. Universal DIA Kit Part Numbers</h1></button>
  </div>
  
  
  
  <router-outlet></router-outlet>
